<html lang="en"><head>
  <meta charset="utf-8">

  <title>{{site.title}}</title>
  <meta name="description" content="{{site.description}}">

  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Lobster+Two:400i|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="http://localhost:4000/css/main.css">
  <link rel="canonical" href="http://localhost:4000/">

  <body>
    <header class="site-header" role="banner">
        <a href="{{site.url}}">
          <h1 class="site-title">{{site.title}}</h1>
        </a>
    </header>

    <main aria-label="Content">

      {{content}}

    </main>
  </body>
</html>