<html lang="en"><head>
  <meta charset="utf-8">

  <title>{{site.title}}</title>
  <meta name="description" content="{{site.description}}">

  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Lobster+Two:400i|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <body>
    <header class="site-header" role="banner">
        <a href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/title.svg"/>
        </a>
    </header>

    <main aria-label="Content">

      {{content}}

    </main>
  </body>
</html>